In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly as py
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objects as go
import plotly.express as px
init_notebook_mode(connected = True)

In [3]:
df = pd.read_csv('train_data.csv')
df.head()

,order_time,order_id,order_date,allot_time,accept_time,pickup_time,delivered_time,rider_id,first_mile_distance,last_mile_distance,alloted_orders,delivered_orders,cancelled,undelivered_orders,lifetime_order_count,reassignment_method,reassignment_reason,reassigned_order,session_time,cancelled_time
0,2021-01-26 02:21:35,556753,2021-01-26 00:00:00,2021-01-26 02:21:59,2021-01-26 02:22:08,2021-01-26 02:32:51,2021-01-26 02:49:47,11696,1.5666,2.65,46.0,46.0,0,0.0,621.0,NaN,NaN,NaN,NaN,NaN
1,2021-01-26 02:33:16,556754,2021-01-26 00:00:00,2021-01-26 02:33:57,2021-01-26 02:34:45,2021-01-26 02:50:25,2021-01-26 03:11:15,18117,2.5207,2.76,8.0,8.0,0,0.0,105.0,NaN,NaN,NaN,3.266667,NaN
2,2021-01-26 02:39:49,556755,2021-01-26 00:00:00,2021-01-26 02:39:57,2021-01-26 02:40:13,2021-01-26 02:56:00,2021-01-26 03:12:46,18623,2.2074,4.80,1.0,1.0,0,0.0,66.0,NaN,NaN,NaN,9.816667,NaN
3,2021-01-26 02:47:53,556756,2021-01-26 00:00:00,2021-01-26 02:48:25,2021-01-26 02:49:06,2021-01-26 03:21:51,2021-01-26 03:41:05,15945,2.1894,6.38,1.0,1.0,0,0.0,127.0,NaN,NaN,NaN,17.533333,NaN
4,2021-01-26 03:06:30,556757,2021-01-26 00:00:00,2021-01-26 03:07:21,2021-01-26 03:07:57,2021-01-26 03:31:38,2021-01-26 04:00:15,17589,2.7870,4.01,34.0,34.0,0,0.0,84.0,NaN,NaN,NaN,1.350000,NaN

In [4]:
call = pd.read_csv('call_data.csv', usecols=['order_id', 'reason_text', 'user_type', 'rider_id'])
call.head()

   order_id reason_text user_type  rider_id
0    556753         NaN  customer     11696
1    556753         NaN  customer     11696
2    556754         NaN  customer     18117
3    556755         NaN  customer     18623
4    556755         NaN  customer     18623

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450000 entries, 0 to 449999
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_time            450000 non-null  object
 1   order_id              450000 non-null  int64
 2   order_date            450000 non-null  object
 3   allot_time            450000 non-null  object
 4   accept_time           449843 non-null  object
 5   pickup_time           447579 non-null  object
 6   delivered_time        444782 non-null  object
 7   rider_id              450000 non-null  int64
 8   first_mile_distance   450000 non-null  float64
 9   last_mile_distance    450000 non-null  float64
 10  alloted_orders        433052 non-null  float64
 11  delivered_orders      432659 non-null  float64
 12  cancelled             450000 non-null  int64
 13  undelivered_orders    432659 non-null  float64
 14  lifetime_order_count  449947 non-null  float64
 15  reassignment_method   13744 non-null   object
 16  reassignment_reason   13753 non-null   object
 17  reassigned_order      13753 non-null   float64
 18  session_time          446325 non-null  float64
 19  cancelled_time        5218 non-null    object
dtypes: float64(8), int64(3), object(9)
memory usage: 68.7+ MB

In [6]:
call.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562624 entries, 0 to 562623
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   order_id     562624 non-null  int64
 1   reason_text  37061 non-null   object
 2   user_type    562624 non-null  object
 3   rider_id     562624 non-null  int64
dtypes: int64(2), object(2)
memory usage: 17.2+ MB

In [7]:
call[~call['reason_text'].isnull()].head()

    order_id                        reason_text user_type  rider_id
14    556773  Items Not Available at Restaurant   support     12885
15    556773  Items Not Available at Restaurant   support     12885
16    556773                  Restaurant Closed   support     12885
17    556773  Items Not Available at Restaurant   support     12885
18    556773                  Restaurant Closed   support     12885

In [11]:
call[call['order_id'] == 556755]

   order_id reason_text user_type  rider_id
3    556755         NaN  customer     18623
4    556755         NaN  customer     18623

In [15]:
call['reason_text'].value_counts()

Others                                                    11536
Customer not responding to calls                          11178
Items Not Available at Restaurant                          5439
Customer requesting to deliver at a different location     3574
Cancel order due to bike issue                             2154
Restaurant Closed                                          1903
Long distance order                                         841
Cancel order due to heavy traffic                           286
Cancel order due to bad weather                             150
Name: reason_text, dtype: int64

In [14]:
df[df['order_id'] == 556755]

,order_time,order_id,order_date,allot_time,accept_time,pickup_time,delivered_time,rider_id,first_mile_distance,last_mile_distance,alloted_orders,delivered_orders,cancelled,undelivered_orders,lifetime_order_count,reassignment_method,reassignment_reason,reassigned_order,session_time,cancelled_time
2,2021-01-26 02:39:49,556755,2021-01-26 00:00:00,2021-01-26 02:39:57,2021-01-26 02:40:13,2021-01-26 02:56:00,2021-01-26 03:12:46,18623,2.2074,4.8,1.0,1.0,0,0.0,66.0,NaN,NaN,NaN,9.816667,NaN

In [18]:
df['reassigned_order'].value_counts()

1.0    13753
Name: reassigned_order, dtype: int64

In [19]:
df['reassignment_method'].value_counts()

auto      13383
manual      361
Name: reassignment_method, dtype: int64

In [20]:
df['reassignment_reason'].value_counts()

Auto Reassignment basis Inaction. coreengine.tasks.repush_order_to_aa_bucket    7212
Reassignment Request from SE portal.                                            5300
Reassign                                                                        1241
Name: reassignment_reason, dtype: int64

In [17]:
df[~df['reassigned_order'].isnull()].head()

,order_time,order_id,order_date,allot_time,accept_time,pickup_time,delivered_time,rider_id,first_mile_distance,last_mile_distance,alloted_orders,delivered_orders,cancelled,undelivered_orders,lifetime_order_count,reassignment_method,reassignment_reason,reassigned_order,session_time,cancelled_time
9,2021-01-26 03:15:18,556762,2021-01-26 00:00:00,2021-01-26 03:21:27,2021-01-26 03:22:04,2021-01-26 04:14:56,2021-01-26 04:38:39,21037,2.8786,2.61,NaN,NaN,0,NaN,1.0,auto,Reassignment Request from SE portal.,1.0,NaN,NaN
20,2021-01-26 03:28:13,556773,2021-01-26 00:00:00,2021-01-26 04:09:50,2021-01-26 04:11:06,NaN,NaN,12885,2.8438,6.81,29.0,29.0,1,0.0,449.0,auto,Reassignment Request from SE portal.,1.0,NaN,2021-01-26 04:51:46
38,2021-01-26 03:38:14,556791,2021-01-26 00:00:00,2021-01-26 03:54:07,2021-01-26 03:54:28,2021-01-26 04:09:45,2021-01-26 04:15:23,10869,1.5504,0.17,145.0,144.0,0,1.0,2037.0,auto,Auto Reassignment basis Inaction. coreengine.t...,1.0,56.683333,NaN
52,2021-01-26 03:42:17,556805,2021-01-26 00:00:00,2021-01-26 03:58:13,2021-01-26 03:59:35,2021-01-26 04:13:25,2021-01-26 04:44:06,313,2.9776,1.43,76.0,76.0,0,0.0,439.0,auto,Auto Reassignment basis Inaction. coreengine.t...,1.0,NaN,NaN
100,2021-01-26 03:54:11,556853,2021-01-26 00:00:00,2021-01-26 05:29:06,2021-01-26 05:30:01,NaN,NaN,2391,2.9217,5.20,118.0,114.0,1,4.0,860.0,auto,Reassignment Request from SE portal.,1.0,22.516667,2021-01-26 05:45:51

In [22]:
df[df['rider_id']==1].head(10)

,order_time,order_id,order_date,allot_time,accept_time,pickup_time,delivered_time,rider_id,first_mile_distance,last_mile_distance,alloted_orders,delivered_orders,cancelled,undelivered_orders,lifetime_order_count,reassignment_method,reassignment_reason,reassigned_order,session_time,cancelled_time
315699,2021-02-03 06:43:10,239802,2021-02-03 00:00:00,2021-02-03 06:43:25,2021-02-03 06:43:30,2021-02-03 06:55:20,2021-02-03 07:12:18,1,1.4561,4.14,6.0,6.0,0,0.0,1380.0,NaN,NaN,NaN,147.533333,NaN
328569,2021-02-03 13:38:38,252675,2021-02-03 00:00:00,2021-02-03 13:38:55,2021-02-03 13:40:17,2021-02-03 14:06:26,2021-02-03 14:46:21,1,2.4127,3.58,6.0,6.0,0,0.0,1380.0,NaN,NaN,NaN,510.566667,NaN
331400,2021-02-03 14:02:48,255506,2021-02-03 00:00:00,2021-02-03 14:04:44,2021-02-03 14:05:50,2021-02-03 14:15:04,2021-02-03 14:33:03,1,0.8029,3.68,6.0,6.0,0,0.0,1380.0,NaN,NaN,NaN,534.733333,NaN
346038,2021-02-03 16:14:20,270142,2021-02-03 00:00:00,2021-02-03 16:14:55,2021-02-03 16:15:50,2021-02-03 16:31:13,2021-02-03 16:40:45,1,1.1215,3.58,6.0,6.0,0,0.0,1380.0,NaN,NaN,NaN,666.266667,NaN
348876,2021-02-03 16:41:11,272980,2021-02-03 00:00:00,2021-02-03 16:41:47,2021-02-03 16:42:43,2021-02-03 16:49:22,2021-02-03 16:58:00,1,0.4628,1.51,6.0,6.0,0,0.0,1380.0,NaN,NaN,NaN,693.116667,NaN
352353,2021-02-03 17:14:48,276457,2021-02-03 00:00:00,2021-02-03 17:15:39,2021-02-03 17:16:26,2021-02-03 17:28:24,2021-02-03 17:35:16,1,1.1628,1.36,6.0,6.0,0,0.0,1380.0,NaN,NaN,NaN,726.733333,NaN
353553,2021-02-03 17:26:31,277657,2021-02-03 00:00:00,2021-02-03 17:26:55,2021-02-03 17:27:51,2021-02-03 17:41:59,2021-02-03 18:04:50,1,1.0028,3.59,6.0,6.0,0,0.0,1380.0,NaN,NaN,NaN,738.450000,NaN
373828,2021-02-04 14:14:41,216800,2021-02-04 00:00:00,2021-02-04 14:15:41,2021-02-04 14:16:31,2021-02-04 14:29:13,2021-02-04 14:41:52,1,0.8283,1.91,12.0,12.0,0,0.0,1380.0,NaN,NaN,NaN,519.200000,NaN
379722,2021-02-04 15:10:50,222695,2021-02-04 00:00:00,2021-02-04 15:11:47,2021-02-04 15:12:24,2021-02-04 15:15:29,2021-02-04 15:23:42,1,0.2979,0.58,12.0,12.0,0,0.0,1380.0,NaN,NaN,NaN,575.350000,NaN
383660,2021-02-04 15:48:53,226632,2021-02-04 00:00:00,2021-02-04 15:49:39,2021-02-04 15:49:52,2021-02-04 15:55:55,2021-02-04 16:04:07,1,0.8439,0.62,12.0,12.0,0,0.0,1380.0,NaN,NaN,NaN,613.400000,NaN

In [9]:
call['user_type'].value_counts()

customer    525563
support      37061
Name: user_type, dtype: int64

- Analysing which Day in a week has the max ratio of orders cancelled to placed
- Most frequent reason given by a rider
- Relation between the time till cancellation and the type of call made
- Lifetime Order Count wrong values
- Time of the day when you have highest cancelled:orders placed ratio
- How cancellation increases with trip distances
- New vs Medium vs experienced rider cancellation rate
- Cancellation vs number of calls
- For orders cancelled after food prep, time taken to cancel from pickup time
- Null Reason analysis based on cancellation time
- Cancellation Rate vs Average Session Time per day